.chartContainer {
  width: 80%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  transition: all 1s;
}

.lineChart {
  width: 50%;
  transition: all 1s;
}

@media only screen and (max-width: 1024px) {
  .chartContainer {
    flex-direction: column;
  }

  .lineChart {
    width: 100%;
    height: 60vh;
  }
}