.chartComponent {
  width: 85%;
  height: 50%;
  display: flex;
}

.lineChart {
  width: 45%;
  height: 90%;
}

@media only screen and (max-width: 1024px) { 
  .chartComponent {
    width: 80%;
    height: 100%;
    flex-direction: column;
  }
  .lineChart {
    width: 100%;
    margin-bottom: 10%;
  }
}