.footer {
  width: 80%;
  margin: auto;
  min-height: 10vh;

  display: flex;
  transition: all 1s;
  align-items: center;
  justify-content: space-around;
}

.skeleton {
  width: 100%;
  margin: auto;
  height: 10.5vh;
  margin-top: 5px;
}

.alertError {
  width: 100vw;
  margin-top: 10px;
  height: 8vh;
}